Load Libraries

In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

from keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.utils import array_to_img, img_to_array, load_img

Load Data

In [ ]:
def load_data(path):

    data = pd.read_csv(path)
    return data

train_df = load_data(r'C:\Users\user\Documents\CGIAR\data\Train_from_site.csv')
train_df.head()

,ID,filename,growth_stage,damage,extent,season
0,ID_1S8OOWQYCB,L427F01330C01S03961Rp02052.jpg,S,WD,0,SR2020
1,ID_0MD959MIZ0,L1083F00930C39S12674Ip.jpg,V,G,0,SR2021
2,ID_JRJCI4Q11V,24_initial_1_1463_1463.JPG,V,G,0,LR2020
3,ID_DBO3ZGI1GM,L341F00167C01S00324Rp14178.jpg,M,DR,60,SR2020
4,ID_ORZLWTEUUS,L1084F02394C39S13931Ip.jpg,V,G,0,SR2021

Data Understanding

In [ ]:
def check_col(data):

    col = data.columns
    return col

check_col(train_df)

Index(['ID', 'filename', 'growth_stage', 'damage', 'extent', 'season'], dtype='object')

In [ ]:
def check_shape_info(data):

    print(f"The dataset contains {data.shape[0]} rows and {data.shape[1]} columns")
    print("**********************************************************************")
    print(data.info())

check_shape_info(train_df)

The dataset contains 26068 rows and 6 columns
**********************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26068 entries, 0 to 26067
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            26068 non-null  object
 1   filename      26068 non-null  object
 2   growth_stage  26068 non-null  object
 3   damage        26068 non-null  object
 4   extent        26068 non-null  int64
 5   season        26068 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB
None

In [ ]:
def descriptive_analysis(data, col):

    descriptive_analysis = data[col]
    return descriptive_analysis.describe()

col = ['extent']
descriptive_analysis(train_df, col)

             extent
count  26068.000000
mean       7.096056
std       18.613229
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      100.000000

In [ ]:
def tally_responses(data, col):

    unique_response = data[col].value_counts()
    return unique_response

col = ['growth_stage']
tally_responses(train_df, col)

growth_stage
V               10015
M                6664
F                6164
S                3225
Name: count, dtype: int64

In [ ]:
col = ['damage']
tally_responses(train_df, col)

damage
G         11623
WD         9238
DR         4516
ND          272
PS          254
DS          115
WN           37
FD           13
Name: count, dtype: int64

In [ ]:
col = ['season']
tally_responses(train_df, col)

season
SR2021    9927
LR2021    7945
SR2020    6163
LR2020    2033
Name: count, dtype: int64